.cartContainer {
    display: inline-block;
    width: 100%;
}

.cartImage {
    display: block;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
}

.overlay {
    transform: translate(20%, -50%);
}

.cartButton {
    background-color: hsl(20, 50%, 98%);
    color:  hsl(14, 65%, 9%);
    font-weight: 600;
    border: 1px solid hsl(12, 20%, 44%);
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Red Hat Text", serif;
    font-size: 16px;
    cursor: pointer;
    transition: color, border 0.25s;
}

.cartButton:hover {
    color:hsl(14, 86%, 42%);
    border: 1px solid hsl(14, 86%, 42%);
}

.textContainer {
    margin-top: 20px;
}

.waffleSpan {
    color: hsl(12, 20%, 44%);
}

.waffleText {
    color:  hsl(14, 65%, 9%);
    font-weight: 600;
}

.wafflePrice {
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}

/* styling for the add cart functionality button*/
.counterContainer {
    background-color: hsl(14, 86%, 42%);
    width: 55%;
    transform: translate(10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
}

.counterButton {
    border: 1px solid hsl(20, 50%, 98%);
    background-color: hsl(14, 86%, 42%);
    color: hsl(20, 50%, 98%);
    border-radius: 50%;
    width: 23px;
    cursor: pointer;
    transition: background-color, border, color 0.05s;
}

.counterButton:focus,
.counterButton:hover {
    border: 1px solid hsl(14, 86%, 42%);
    background-color: hsl(20, 50%, 98%);
    color: hsl(14, 86%, 42%);
}

.number {
    color: hsl(20, 50%, 98%);
}

@media (max-width: 768px) {
    .cartContainer {
        width: 100%;
        margin: 10px auto;
        font-size: 12px;
    }

    .cartImage {
        width: 100%;
        max-width: 100%;
    }

    .overlay {
        transform: translate(15%, -50%);
    }

    .cartButton {
        font-size: 10px;
        font-weight: 800;
        padding: 6px 16px;
    }

    .textContainer {
        margin-top: 0;
    }

    .waffleSpan {
        font-size: 13px;
    }

    .waffleText {
        font-size: 14px;
        font-weight: 500;
    }

    .wafflePrice {
        font-size: 13px;
    }

    .counterContainer {
        padding: 5px 20px;
        transform: translate(2%);
        width: 70%;
    }

    .counterButton {
        width: 21px;
    }
}

@media (max-width: 480px) {
    .cartContainer {
        width: 100%;
        margin: 10px auto;
    }

    .cartImage {
        width: 100%;
        max-width: 100%;
    }

    .overlay {
        transform: translate(26%, -50%);
    }

    .cartButton {
        font-size: 16px;
        font-weight: 800;
        padding: 15px 25px;
    }

    .textContainer {
        margin-top: 0;
    }

    .waffleSpan {
        font-size: 16px;
    }

    .waffleText {
        font-size: 16px;
        font-weight: 600;
    }

    .wafflePrice {
        font-size: 16px;
    }

    .counterContainer {
        padding: 15px 25px;
        transform: translate(10%);
        width: 45%;
    }

    .counterButton {
        width: 23px;
    }
}